<h1 id="tableLabel">Todo list</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!todos"><em>Loading... Please refresh once the ASP.NET backend has started. See <a href="https://aka.ms/jspsintegrationangular">https://aka.ms/jspsintegrationangular</a> for more details.</em></p>

<table *ngIf="todos">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>IsCompleted</th>
      <th>CreateDateUTC</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let todo of todos">
      <td>{{ todo.id }}</td>
      <td>{{ todo.name }}</td>
      <td>{{ todo.isCompleted }}</td>
      <td>{{ todo.createDateUtc }}</td>
    </tr>
  </tbody>
</table>
